<?xml version="1.0" encoding="utf-8"?>
<launch>

  <param name ="/use_sim_time" value="true"/>
  <node  pkg="cam_lidar_calib" name="hozon_cam_lidar_calib_node" type="hozon_cam_lidar_calib_node" output="screen" required="true">
 	
	 <!-- 棋盘格格子大小及行列 -->
  	<param name = "dx" type="double" value="0.15"/>
  	<param name = "dy" type="double" value="0.15"/>

  	<param name = "checkerboard_rows" type = "int" value = "6" />
  	<param name = "checkerboard_cols" type = "int" value = "8" />
<!-- 
  	<param name = "result_file" type="string" value="$(find calibration)/debug_data/draw/C_T_L_basler_os_GP.txt"/>
  	<param name = "result_rpy_file" type="string" value="$(find calibration)/debug_data/draw/rpy_txyz_basler.txt"/> -->

    <!-- 输入文件夹路径 -->
    <!-- <param name = "image_folder_path" type="string" value="/media/pw/data/cjy_data/cjy/1_2023-09-04-12-05-07.bag/camera-73"/>
	<param name = "pcd_folder_path" type="string" value="/media/pw/data/cjy_data/cjy/1_2023-09-04-12-05-07.bag/lidar-pcd1"/> -->

    <!-- <param name = "image_folder_path" type="string" value="/media/pw/data/cjy_data/cjy/1_2023-09-04-12-03-28.bag/camera-73"/>
	<param name = "pcd_folder_path" type="string" value="/media/pw/data/cjy_data/cjy/1_2023-09-04-12-03-28.bag/lidar-pcd1"/> -->
	
	<!-- <param name = "image_folder_path" type="string" value="/media/pw/data/cjy_data/cjy/try/image"/>
	<param name = "pcd_folder_path" type="string" value="/media/pw/data/cjy_data/cjy/try/pcd"/> -->


	<param name = "image_folder_path" type="string" value="/media/pw/data/cjy_data/cjy/try_3_bd/image"/>
	<param name = "pcd_folder_path" type="string" value="/media/pw/data/cjy_data/cjy/try_3_bd/pcd"/>




	<!-- 输出文件路径 -->
  	<param name = "result_file" type="string" value="$(find cam_lidar_calib)/res/C_T_L_.txt"/>
  	<param name = "result_rpy_file" type="string" value="$(find cam_lidar_calib)/res/rpy_txyz_.txt"/>
  	<param name = "result_sigma_file" type="string" value="$(find cam_lidar_calib)/res/sigma_.txt"/>

  	<param name = "min_points_on_plane" type="int" value="600"/>
  	<param name = "num_views" type="int" value="1"/>
		<param name = "no_of_initializations" type="int" value="1"/>
	<!-- 相机和雷达的话题名 -->
  	<!-- <param name = "camera_in_topic" type="string" value="image_topic"/> -->
  	<!-- <param name = "lidar_in_topic" type="string" value="/os1_cloud_node/points/rotated"/> -->

	<!-- 直通滤波 -->
		<!-- 
		<param name="x_min" value="0.75"/>
    <param name="x_max" value="6"/>
    <param name="y_min" value="-2"/>
    <param name="y_max" value="2"/>
    <param name="z_min" value="-1"/>
    <param name="z_max" value="3"/>
		-->


<!-- 左前雷达直通滤波		 -->
		<param name="x_min" value="3"/>
    <param name="x_max" value="12"/>
    <param name="y_min" value="-6"/>
    <param name="y_max" value="-2.5"/>
    <param name="z_min" value="-0.3"/>
    <param name="z_max" value="3"/>
    <param name="ransac_threshold" value="0.01"/>

	<!-- 相机参数文件 -->
  	<param name = "cam_config_file_path" type="string" value="$(find cam_lidar_calib)/config/73.yaml" />
  </node>
</launch>


